@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.zoom {
  cursor: zoom-in;
}

@layer components {
  .bg-primary {
    background-color: #0511f2;
  }

  .bg-secondary {
    background-color: #f2f2f2;
  }

  .bg-third {
    background-color: #3752a6;
  }

  .bg-fourth {
    background-color: #273273;
  }
  .text-primary {
    color: #333;
  }
  .text-secondary {
    color: #273273;
  }
  .text-third {
    color: #f2f2f2;
  }
}

.shadow-bottom::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.book-title {
  height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-amazon {
  background-color: #ff9900;
  color: white;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 10px 16px;
  transition: background-color 0.3s ease;
}

.btn-amazon:hover {
  background-color: #e47911;
}

.star {
  color: #f2b01e;
}

.about {
  @apply text-6xl xl:text-[72px] xl:leading-[80px] text-primary font-semibold;
}

.typewriter {
  @apply text-2xl xl:text-[36px] xl:leading-[40px] text-secondary font-semibold tracking-wide;
}

.subtitle {
  @apply text-sm font-light;
}

.socials {
  @apply text-4xl xl:text-[36px] xl:leading-[40px] text-secondary hover:text-[#0511f2];
}

.btn-comprar {
  @apply bg-[#C32A22] text-white font-semibold text-lg py-2 px-4 rounded-lg;
}

.btn-detalles {
  @apply bg-[#273273] text-white font-semibold text-lg py-2 px-4 rounded-lg;
}

.btn-comprar-cancel {
  @apply bg-gray-500 text-third font-semibold text-sm py-2 px-4 rounded-lg cursor-not-allowed;
}

.btn-comprar-mini {
  @apply bg-[#C32A22] text-third font-semibold text-sm py-2 px-4 rounded-lg;
}

.active-step {
  @apply bg-primary text-white;
}
